#about-wrapper {
  width: 100%;
  display: grid;
  justify-items: center;
  margin-top: 40vh;
}

#about-content {
  display: grid;
  justify-items: center;
  width: 90%;
}

.about-title {
  font-size: 6rem;
  margin-bottom: 50px;
}

.about-text {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .about-title {
    font-size: 4rem;
  }
}
