#account-signup {
  display: grid;
  justify-items: center;
}

#account-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
}

#account-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}

.account-data-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.account-bubble {
  background-color: #212121;
  padding: 20px;
  border-radius: 15px;
  width: max-content;
  height: max-content;
}

.account-header {
  margin-bottom: 10px;
}

.account-number-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 250px 1px 250px;
}

.account-number-text {
  font-size: 1.375rem;
  max-width: 140px;
}

.account-line {
  height: 150px;
  width: 1px;
}

.account-number {
  font-size: 7.5rem;
  line-height: 1;
}

.account-history-wrapper {
  width: 700px;
  display: grid;
  justify-items: center;
}

#account-history-content {
  display: grid;
  grid-template-columns: 120px 150px 200px 100px;
  justify-content: center;
}

.account-history-tab {
  height: 40px;
  width: 2px;
  margin-right: 10px;
}

.account-history-header {
  border-bottom: #383838;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.account-history-item {
  display: flex;
  align-items: center;
  border-bottom: #383838;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .account-number-wrapper {
    display: grid;
    grid-template-columns: none;
  }
  .account-line {
    width: 100px;
    height: 1px;
  }
  .account-number-text {
    max-width: 300px;
    width: 90%;
  }
  .account-wallet {
    max-width: 200px;
    font-size: 0.75rem;
  }
  .account-number {
    margin-top: 20px;
    font-size: 7.5rem;
    line-height: 1;
  }
}
