#navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-left: 40px;
  z-index: 4;
}

.navbar-item {
  line-height: 1;
  font-family: "Cabin";
  font-weight: 900;
  font-size: 30px;
  margin-right: 40px;
  cursor: pointer;
  color: black;
  z-index: 4;
}

.navbar-item-primary {
  border-color: var(--primary);
  border-style: solid;
  border-width: 2px;
  padding: 13px 35px;
  font-size: 25px;
  font-weight: 900;
  border-radius: 100px;
  line-height: 0.9;
  color: white;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-item-primary:hover {
  background-color: var(--primary);
}

.navbar-item-focused {
  margin-right: 40px;
  font-family: "Cabin";
  font-weight: 900;
  font-size: 18px;
  outline: none;
  background: none;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 8px 30px;
  border-radius: 200px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-item-focused:hover {
  color: white;
  background-color: black;
}

#navbar-stuff {
  position: absolute;
  right: 10px;
}
