#navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-left: 40px;
  z-index: 4;
}

.navbar-item {
  line-height: 1;
  font-family: "Cabin";
  font-weight: 900;
  font-size: 30px;
  margin-right: 40px;
  cursor: pointer;
  color: white;
  z-index: 4;
}

.navbar-item::after {
  padding-bottom: 2px;
  content: "";
  display: block;
  border-bottom: 3px solid var(--primary);
  width: 0%;
  position: absolute;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navbar-item:hover:after {
  width: 80px;
}

.navbar-item-primary {
  line-height: 1;
  font-family: "Cabin";
  font-weight: 900;
  font-size: 30px;
  margin-right: 40px;
  cursor: pointer;
  color: white;
  z-index: 4;
  border-color: var(--primary);
  border-style: solid;
  border-width: 2px;
  padding: 13px 35px;
  font-size: 25px;
  font-weight: 900;
  border-radius: 100px;
  line-height: 0.9;
  color: white;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-item-primary:hover {
  background-color: var(--primary);
}

.navbar-item-focused {
  margin-right: 40px;
  font-family: "Cabin";
  font-weight: 900;
  font-size: 18px;
  outline: none;
  background: none;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary);
  color: white;
  padding: 8px 30px;
  border-radius: 200px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-item-focused:hover {
  color: white;
  background-color: var(--primary);
}

#navbar-stuff {
  position: absolute;
  right: 10px;
}

.navbar-mobile-wrapper {
  background-color: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  transition: 0.5s;
  display: grid;
  justify-items: center;
  align-content: center;
  top: 0px;
  left: 0px;
}

.navbar-item-mobile {
  margin-right: 0px;
  color: black;
  margin-bottom: 40px;
}

.navbar-item-mobile-focused {
  color: black;
  margin-right: 0px;
}

.navbar-item-mobile-focused:hover {
  color: white;
}

.nav-burger {
  cursor: pointer;
  background: none;
  border: none;
  padding-left: 25px;
  z-index: 10;
  position: fixed;
  top: 25px;
}

.nav-burger:hover .nav-line:nth-child(2) {
  width: 30px;
  transition: all 0.2s;
}

.nav-line {
  background-color: white;
  width: 35px;
  height: 2px;
  margin-bottom: 10px;
  z-index: 10;
  transition: all 0.5s;
}

.nav-exit {
  cursor: pointer;
  padding-left: 25px;
  padding-top: 35px;
  background: none;
  border: none;
}

.nav-exit-line {
  background-color: black;
  width: 40px;
  height: 1px;
}

.nav-exit-line:first-child {
  transform: rotate(45deg);
}

.nav-exit-line:last-child {
  transform: rotate(-45deg);
}

@media screen and (max-width: 700px) {
  #navbar-wrapper {
    padding: 25px;
  }
}

#nav-settings:hover::after {
  width: 105px;
}

#nav-exchanges:hover::after {
  width: 135px;
}
